game-server/data/static_data/items/item_templates.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../skill_tree/skill_tree.xsd"/>
	<xs:include schemaLocation="../global_types.xsd"/>
	<xs:include schemaLocation="../modifiers.xsd"/>
	<xs:element name="item_templates">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item_template" type="ItemTemplate" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Godstone">
		<xs:attribute name="skillid" type="xs:int"/>
		<xs:attribute name="skilllvl" type="xs:int"/>
		<xs:attribute name="probability" type="xs:int"/>
		<xs:attribute name="probabilityleft" type="xs:int"/>
		<xs:attribute name="breakprob" type="xs:int"/>
		<xs:attribute name="nonbreakcount" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Stigma">
		<xs:attribute name="gain_skill_group1" type="xs:string"/>
		<xs:attribute name="gain_skill_group2" type="xs:string"/>
		<xs:attribute name="chargeable" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="WeaponStats">
		<xs:attribute name="min_damage" type="xs:int"/>
		<xs:attribute name="max_damage" type="xs:int"/>
		<xs:attribute name="attack_speed" type="xs:int"/>
		<xs:attribute name="critical" type="xs:int"/>
		<xs:attribute name="physical_accuracy" type="xs:int"/>
		<xs:attribute name="parry" type="xs:int"/>
		<xs:attribute name="magical_accuracy" type="xs:int"/>
		<xs:attribute name="boost_magical_skill" type="xs:int"/>
		<xs:attribute name="attack_range" type="xs:int"/>
		<xs:attribute name="hit_count" type="xs:int"/>
		<xs:attribute name="reduce_max" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="TradeinList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tradein_item" type="TradeinItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeinItem">
		<xs:attribute name="id" type="itemId"/>
		<xs:attribute name="price" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Acquisition">
		<xs:attribute name="ap" type="xs:int" default="0" use="optional"/>
		<xs:attribute name="count" type="xs:int" default="0" use="optional"/>
		<xs:attribute name="item" type="xs:int" default="0" use="optional"/>
		<xs:attribute name="type" type="acquisitionType"/>
	</xs:complexType>
	<xs:complexType name="Disposition">
		<xs:attribute name="id" type="itemId" use="required"/>
		<xs:attribute name="count" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="ExtraInventory">
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="Improvement">
		<xs:attribute name="way" type="xs:int" use="required"/>
		<xs:attribute name="price2" type="xs:int"/>
		<xs:attribute name="price1" type="xs:int"/>
		<xs:attribute name="burn_defend" type="xs:int"/>
		<xs:attribute name="burn_attack" type="xs:int"/>
		<xs:attribute name="level" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Idian">
		<xs:attribute name="burn_defend" type="xs:int"/>
		<xs:attribute name="burn_attack" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="UseLimits">
		<xs:attribute name="guild_level" type="xs:int"/>
		<xs:attribute name="ownership_worlds" type="IntListType"/>
		<xs:attribute name="usearea" type="xs:string"/>
		<xs:attribute name="rank_max" type="xs:int"/>
		<xs:attribute name="rank_min" type="xs:int" default="1"/>
		<xs:attribute name="purchable_rank_min" type="xs:int"/>
		<xs:attribute name="recommend_rank" type="xs:int"/>
		<xs:attribute name="ride_usable" type="xs:boolean" default="false"/>
		<xs:attribute name="gender" type="xs:string"/>
		<xs:attribute name="pack_count" type="xs:int"/>
		<xs:attribute name="usedelayid" type="xs:int"/>
		<xs:attribute name="usedelay" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="AssembledItem">
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="RequireSkill">
		<xs:attribute name="skillIds" type="IntListType"/>
	</xs:complexType>
	<xs:complexType name="ItemTemplate">
		<xs:sequence>
			<xs:element name="modifiers" type="Modifiers" minOccurs="0" maxOccurs="1"/>
			<xs:element name="actions" type="ItemActions" minOccurs="0" maxOccurs="1"/>
			<xs:element name="godstone" type="Godstone" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stigma" type="Stigma" minOccurs="0" maxOccurs="1"/>
			<xs:element name="weapon_stats" type="WeaponStats" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tradein_list" type="TradeinList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="acquisition" type="Acquisition" minOccurs="0" maxOccurs="1"/>
			<xs:element name="disposition" type="Disposition" minOccurs="0" maxOccurs="1"/>
			<xs:element name="improve" type="Improvement" minOccurs="0" maxOccurs="1"/>
			<xs:element name="uselimits" type="UseLimits" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inventory" type="ExtraInventory" minOccurs="0" maxOccurs="1"/>
			<xs:element name="idian" type="Idian" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="pack_count" type="xs:int"/>
		<xs:attribute name="robot" type="xs:int"/>
		<xs:attribute name="expire_time" type="xs:int"/>
		<xs:attribute name="temp_exchange_time" type="xs:int"/>
		<xs:attribute name="s_slots" type="xs:int"/>
		<xs:attribute name="option_slot_bonus" type="xs:int"/>
		<xs:attribute name="attack_gap" type="xs:float"/>
		<xs:attribute name="slot" type="xs:int"/>
		<xs:attribute name="activate_count" type="xs:int"/>
		<xs:attribute name="activate_combat" type="xs:boolean"/>
		<xs:attribute name="activate_target" type="ItemActivationTarget"/>
		<xs:attribute name="m_slots" type="xs:int"/>
		<xs:attribute name="max_tampering" type="xs:int"/>
		<xs:attribute name="max_enchant_bonus" type="xs:int"/>
		<xs:attribute name="max_enchant" type="xs:int"/>
		<xs:attribute name="return_alias" type="xs:string"/>
		<xs:attribute name="return_world" type="xs:int"/>
		<xs:attribute name="weapon_boost" type="xs:int"/>
		<xs:attribute name="attack_type" type="ItemAttackType"/>
		<xs:attribute name="desc" type="xs:int"/>
		<xs:attribute name="restrict_max" type="ByteList"/>
		<xs:attribute name="restrict" type="ByteList"/>
		<xs:attribute name="rnd_bonus" type="xs:int"/>
		<xs:attribute name="rnd_count" type="xs:int"/>
		<xs:attribute name="race" type="itemRace"/>
		<xs:attribute name="price" type="xs:int"/>
		<xs:attribute name="quality" type="itemQuality"/>
		<xs:attribute name="item_type" type="itemType"/>
		<xs:attribute name="max_stack_count" type="xs:int"/>
		<xs:attribute name="drop" type="xs:boolean"/>
		<xs:attribute name="item_group" type="ItemGroup"/>
		<xs:attribute name="mask" type="xs:int"/>
		<xs:attribute name="level" type="xs:int"/>
		<xs:attribute name="id" type="itemId" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="cName" type="xs:string"/>
		<xs:attribute name="tempering_name" type="xs:string"/>
		<xs:attribute name="enchant_name" type="xs:string" />
		<xs:attribute name="multi_return" type="xs:string"/>
		<xs:attribute name="can_exceed_enchant" type="xs:boolean"/>
		<xs:attribute name="exceed_enchant_skill" type="ExceedEnchantSkillSet"/>
		<xs:attribute name="enchant_type" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="AbstractItemAction" abstract="true"/>
	<xs:complexType name="ItemActions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="skilllearn" type="SkillLearnAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="skilluse" type="SkillUseAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enchant" type="EnchantItemAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="queststart" type="QuestStartAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dye" type="DyeAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="craftlearn" type="CraftLearnAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="extract" type="ExtractAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="toypetspawn" type="ToyPetSpawnAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="decompose" type="DecomposeAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="expandinventory" type="ExpandInventoryAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="titleadd" type="TitleAddAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="learnemotion" type="EmotionLearnAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="animation" type="AnimationAddAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="read" type="ReadAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fireworkact" type="FireworksUseAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instancetimeclear" type="InstanceTimeClear" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cosmetic" type="CosmeticItemAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="charge" type="ChargeAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ride" type="RideAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="houseobject" type="SummonHouseObjectAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="housedeco" type="DecorateAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assemble" type="AssemblyItemAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="adoptpet" type="AdoptPetAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="apextract" type="ApExtractAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="remodel" type="RemodelAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="expextract" type="ExpExtractAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="polish" type="PolishAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="composition" type="CompositionAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tuning" type="TuningAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="megaphone" type="MegaphoneAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pack" type="PackAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tampering" type="TamperingAction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="multireturn" type="MultiReturnAction" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RideAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="npc_id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CosmeticItemAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChargeAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="capacity" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmotionLearnAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="emotionid" type="xs:int" use="required"/>
				<xs:attribute name="minutes" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TitleAddAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="titleid" type="xs:int"/>
				<xs:attribute name="minutes" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnimationAddAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="idle" type="xs:int"/>
				<xs:attribute name="run" type="xs:int"/>
				<xs:attribute name="jump" type="xs:int"/>
				<xs:attribute name="rest" type="xs:int"/>
				<xs:attribute name="shop" type="xs:int"/>
				<xs:attribute name="minutes" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillLearnAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="level" type="xs:int"/>
				<xs:attribute name="class" type="playerClass"/>
				<xs:attribute name="skillid" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillUseAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="skillid" type="xs:int"/>
				<xs:attribute name="level" type="xs:int"/>
				<xs:attribute name="mapid" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnchantItemAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="count" type="xs:int" default="0"/>
				<xs:attribute name="min_level" type="xs:int" default="0"/>
				<xs:attribute name="max_level" type="xs:int" default="0"/>
				<xs:attribute name="chance" type="xs:float" default="0"/>
				<xs:attribute name="manastone_only" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtractAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssemblyItemAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="item" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DyeAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="color" type="xs:string"/>
				<xs:attribute name="minutes" type="xs:int" default="0" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuestStartAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="questid" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CraftLearnAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="recipeid" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToyPetSpawnAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="npcid" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DecomposeAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExpandInventoryAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="level" type="xs:int"/>
				<xs:attribute name="storage" type="storageType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReadAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InstanceTimeClear">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="sync_ids" type="IntListType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FireworksUseAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonHouseObjectAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DecorateAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdoptPetAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="minutes" type="xs:int"/>
				<xs:attribute name="sidekick" type="xs:boolean" default="false"/>
				<xs:attribute name="petId" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApExtractAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="target" type="UseTarget"/>
				<xs:attribute name="rate" type="xs:float"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TuningAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="target" type="UseTarget"/>
				<xs:attribute name="no_reduce" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RemodelAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="minutes" type="xs:int"/>
				<xs:attribute name="type" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExpExtractAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="cost" type="xs:int"/>
				<xs:attribute name="percent" type="xs:boolean" default="false"/>
				<xs:attribute name="item_id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolishAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="set_id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MultiReturnAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompositionAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MegaphoneAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="color" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PackAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction">
				<xs:attribute name="target" type="UseTarget"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TamperingAction">
		<xs:complexContent>
			<xs:extension base="AbstractItemAction"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ItemAttackType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHYSICAL"/>
			<xs:enumeration value="MAGICAL_WATER"/>
			<xs:enumeration value="MAGICAL_WIND"/>
			<xs:enumeration value="MAGICAL_FIRE"/>
			<xs:enumeration value="MAGICAL_EARTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemActivationTarget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="STANDALONE"/>
			<xs:enumeration value="TARGET"/>
			<xs:enumeration value="MYMENTO"/>
			<xs:enumeration value="WORLD_EVENT_CAKE_D"/>
			<xs:enumeration value="WORLD_EVENT_CAKE_L"/>
			<!-- Races -->
			<xs:enumeration value="BROWNIE"/>
			<xs:enumeration value="GCHIEF_LIGHT"/>
			<xs:enumeration value="GHENCHMAN_LIGHT"/>
			<xs:enumeration value="GHENCHMAN_DARK"/>
			<xs:enumeration value="KRALL"/>
			<xs:enumeration value="LF5_Q_ITEM"/>
			<xs:enumeration value="LIVINGWATER"/>
			<xs:enumeration value="LYCAN"/>
			<xs:enumeration value="EVENT_TOWER_LIGHT"/>
			<xs:enumeration value="EVENT_TOWER_DARK"/>
			<xs:enumeration value="WORLD_EVENT_DEFTOWER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="storageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CUBE"/>
			<xs:enumeration value="WAREHOUSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itemId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="100000000"/>
			<xs:maxInclusive value="200000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NORMAL"/>
			<xs:enumeration value="ABYSS"/>
			<xs:enumeration value="DRACONIC"/>
			<xs:enumeration value="DEVANION"/>
			<xs:enumeration value="LEGEND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="itemRace">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELYOS"/>
			<xs:enumeration value="ASMODIANS"/>
			<xs:enumeration value="PC_ALL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="acquisitionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AP"/>
			<xs:enumeration value="ABYSS"/>
			<xs:enumeration value="REWARD"/>
			<xs:enumeration value="COUPON"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UseTarget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCESSORY" />
			<xs:enumeration value="ARMOR" />
			<xs:enumeration value="EQUIPMENT" />
			<xs:enumeration value="WEAPON" />
			<xs:enumeration value="WING" />
			<xs:enumeration value="OTHER" />
			<xs:enumeration value="ALL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemGroup">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="NOWEAPON"/>
			<xs:enumeration value="SWORD"/>
			<xs:enumeration value="GREATSWORD"/>
			<xs:enumeration value="EXTRACT_SWORD"/>
			<xs:enumeration value="DAGGER"/>
			<xs:enumeration value="MACE"/>
			<xs:enumeration value="ORB"/>
			<xs:enumeration value="SPELLBOOK"/>
			<xs:enumeration value="POLEARM"/>
			<xs:enumeration value="STAFF"/>
			<xs:enumeration value="BOW"/>
			<xs:enumeration value="HARP"/>
			<xs:enumeration value="GUN"/>
			<xs:enumeration value="CANNON"/>
			<xs:enumeration value="KEYBLADE"/>
			<xs:enumeration value="SHIELD"/>
			<xs:enumeration value="TORSO"/>
			<xs:enumeration value="PANTS"/>
			<xs:enumeration value="SHOULDER"/>
			<xs:enumeration value="GLOVE"/>
			<xs:enumeration value="SHOES"/>
			<xs:enumeration value="RB_TORSO"/>
			<xs:enumeration value="RB_PANTS"/>
			<xs:enumeration value="RB_SHOULDER"/>
			<xs:enumeration value="RB_GLOVE"/>
			<xs:enumeration value="RB_SHOES"/>
			<xs:enumeration value="LT_TORSO"/>
			<xs:enumeration value="LT_PANTS"/>
			<xs:enumeration value="LT_SHOULDER"/>
			<xs:enumeration value="LT_GLOVE"/>
			<xs:enumeration value="LT_SHOES"/>
			<xs:enumeration value="CH_TORSO"/>
			<xs:enumeration value="CH_PANTS"/>
			<xs:enumeration value="CH_SHOULDER"/>
			<xs:enumeration value="CH_GLOVE"/>
			<xs:enumeration value="CH_SHOES"/>
			<xs:enumeration value="PL_TORSO"/>
			<xs:enumeration value="PL_PANTS"/>
			<xs:enumeration value="PL_SHOULDER"/>
			<xs:enumeration value="PL_GLOVE"/>
			<xs:enumeration value="PL_SHOES"/>
			<xs:enumeration value="CL_TORSO"/>
			<xs:enumeration value="CL_PANTS"/>
			<xs:enumeration value="CL_SHOULDER"/>
			<xs:enumeration value="CL_GLOVE"/>
			<xs:enumeration value="CL_SHOES"/>
			<xs:enumeration value="CL_MULTISLOT"/>
			<xs:enumeration value="CL_SHIELD"/>
			<xs:enumeration value="WING"/>
			<xs:enumeration value="POWER_SHARDS"/>
			<xs:enumeration value="EARRING"/>
			<xs:enumeration value="RING"/>
			<xs:enumeration value="NECKLACE"/>
			<xs:enumeration value="BELT"/>
			<xs:enumeration value="HEAD"/>
			<xs:enumeration value="LT_HEADS"/>
			<xs:enumeration value="CL_HEADS"/>
			<xs:enumeration value="STIGMA"/>
			<xs:enumeration value="ARROW"/>
			<xs:enumeration value="NPC_MACE"/>
			<xs:enumeration value="TOOLRODS"/>
			<xs:enumeration value="TOOLHOES"/>
			<xs:enumeration value="TOOLPICKS"/>
			<xs:enumeration value="MANASTONE"/>
			<xs:enumeration value="SPECIAL_MANASTONE"/>
			<xs:enumeration value="RECIPE"/>
			<xs:enumeration value="ENCHANTMENT"/>
			<xs:enumeration value="PACK_SCROLL"/>
			<xs:enumeration value="FLUX"/>
			<xs:enumeration value="BALIC_EMOTION"/>
			<xs:enumeration value="BALIC_MATERIAL"/>
			<xs:enumeration value="RAWHIDE"/>
			<xs:enumeration value="SOULSTONE"/>
			<xs:enumeration value="GATHERABLE"/>
			<xs:enumeration value="GATHERABLE_BONUS"/>
			<xs:enumeration value="DROP_MATERIAL"/>
			<xs:enumeration value="COINS"/>
			<xs:enumeration value="MEDALS"/>
			<xs:enumeration value="QUEST"/>
			<xs:enumeration value="KEY"/>
			<xs:enumeration value="CRAFT_BOOST"/>
			<xs:enumeration value="TAMPERING"/>
			<xs:enumeration value="COMBINATION"/>
			<xs:enumeration value="SKILLBOOK"/>
			<xs:enumeration value="GODSTONE"/>
			<xs:enumeration value="STIGMA_SHARD"/>
			<xs:enumeration value="PLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="CHAIN"/>
			<xs:enumeration value="CLOTHES"/>
			<xs:enumeration value="LEATHER"/>
			<xs:enumeration value="PLATE"/>
			<xs:enumeration value="ROBE"/>
			<xs:enumeration value="SHIELD"/>
			<xs:enumeration value="ARROW"/>
			<xs:enumeration value="WING"/>
			<xs:enumeration value="ONE_HAND"/>
			<xs:enumeration value="TWO_HAND"/>
			<xs:enumeration value="STIGMA"/>
			<xs:enumeration value="PLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeaponList">
		<xs:list itemType="ItemGroup"/>
	</xs:simpleType>
	<xs:simpleType name="ExceedEnchantSkillSet">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RANK1_SET1_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK1_SET1_MAGICAL_PANTS" />
			<xs:enumeration value="RANK1_SET1_MAGICAL_SHOES" />
			<xs:enumeration value="RANK1_SET1_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK1_SET1_MAGICAL_TORSO" />
			<xs:enumeration value="RANK1_SET1_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK1_SET1_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_PANTS" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_SHOES" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_TORSO" />
			<xs:enumeration value="RANK1_SET2_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK1_SET2_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK1_SET3_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK1_SET3_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_PANTS" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_SHOES" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_TORSO" />
			<xs:enumeration value="RANK2_SET1_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK2_SET1_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_PANTS" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_SHOES" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_TORSO" />
			<xs:enumeration value="RANK2_SET2_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK2_SET2_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET3_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK2_SET3_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_PANTS" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_SHOES" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_TORSO" />
			<xs:enumeration value="RANK3_SET1_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK3_SET1_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_PANTS" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_SHOES" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_TORSO" />
			<xs:enumeration value="RANK3_SET2_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK3_SET2_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET3_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK3_SET3_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_PANTS" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_SHOES" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_TORSO" />
			<xs:enumeration value="RANK4_SET1_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK4_SET1_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_PANTS" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_SHOES" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_TORSO" />
			<xs:enumeration value="RANK4_SET2_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_SHOES" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK4_SET2_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET3_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK4_SET3_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_WEAPON" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_TORSO" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_GLOVES" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_SHOULDER" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_PANTS" />
			<xs:enumeration value="RANK5_SET1_MAGICAL_SHOES" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_WEAPON" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_TORSO" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_GLOVES" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_SHOULDER" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_PANTS" />
			<xs:enumeration value="RANK5_SET1_PHYSICAL_SHOES" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ByteList">
		<xs:list itemType="xs:byte" />
	</xs:simpleType>
</xs:schema>