game-server/data/static_data/pets/pet_buffs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../modifiers.xsd"/>
	<xs:element name="pet_buffs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="buff" type="PetBuff" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PetBuff">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="modifiers" type="Modifiers" />
		</xs:sequence>
		<xs:attribute name="feed_count" type="xs:int" use="required" />
		<xs:attribute name="id" type="xs:int" use="required" />
	</xs:complexType>
</xs:schema>