game-server/config/shedule/monster_raid_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="raid" type="raid"/>
	<xs:element name="raid_schedule" type="MonsterRaidSchedule"/>
	<xs:complexType name="MonsterRaidSchedule">
		<xs:sequence>
			<xs:element ref="raid" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="raid">
		<xs:sequence>
			<xs:element name="raidTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>