game-server/data/static_data/skills/skills.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../import.xsd" />
	<xs:include schemaLocation="../modifiers.xsd" />
	<xs:include schemaLocation="../items/item_templates.xsd" />
	<xs:element name="skill_data" type="skillData" />
	<xs:complexType name="skillData">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="skill_template" type="SkillTemplate" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SkillTemplate">
		<xs:sequence>
			<xs:element name="properties" type="Properties" minOccurs="0" maxOccurs="1" />
			<xs:element name="startconditions" type="Conditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="useconditions" type="Conditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="endconditions" type="Conditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="useequipmentconditions" type="Conditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="effects" type="Effects" minOccurs="0" maxOccurs="1" />
			<xs:element name="actions" type="Actions" minOccurs="0" maxOccurs="1" />
			<xs:element name="periodicactions" type="PeriodicActions" minOccurs="0" maxOccurs="1" />
			<xs:element name="motion" type="Motion" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="counter_skill" type="xs:string" />
		<xs:attribute name="penalty_skill_id" type="skillId" />
		<xs:attribute name="penalty_skill_send_msg" type="xs:boolean" default="false"/>
		<xs:attribute name="skill_id" type="skillId" use="required" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="nameId" type="xs:int" />
		<xs:attribute name="stack" type="xs:string" use="required" />
		<xs:attribute name="group" type="xs:string" />
		<xs:attribute name="cooldownId" type="xs:int" />
		<xs:attribute name="lvl" type="xs:int" />
		<xs:attribute name="skilltype" type="skillType" use="required" />
		<xs:attribute name="attacktype" type="attackType" />
		<xs:attribute name="skillsubtype" type="skillSubType" use="required" />
		<xs:attribute name="conflict_id" type="xs:int" />
		<xs:attribute name="tslot" type="TargetSlot" />
		<xs:attribute name="tslot_level" type="xs:int" default="0" />
		<xs:attribute name="dispel_category" type="DispelCategoryType" default="NONE" />
		<xs:attribute name="req_dispel_level" type="xs:int" />
		<xs:attribute name="activation" type="activationAttribute" use="required" />
		<xs:attribute name="stigma" type="StigmaType" />
		<xs:attribute name="ammospeed" type="xs:int" />
		<xs:attribute name="duration" type="xs:int" use="required" />
		<xs:attribute name="toggle_timer" type="xs:int" />
		<xs:attribute name="cooldown" type="xs:int" default="0" />
		<xs:attribute name="cooldown_delta_lv" type="xs:int" default="0" />
		<xs:attribute name="skill_category" type="skillCategory" default="NONE" />
		<xs:attribute name="pvp_damage" type="xs:int" />
		<xs:attribute name="pvp_duration" type="xs:int" />
		<xs:attribute name="chain_skill_prob" type="xs:int" default="0" />
		<xs:attribute name="cancel_rate" type="xs:int" default="0" />
		<xs:attribute name="stance" type="xs:boolean" default="false" />
		<xs:attribute name="avatar" type="xs:boolean" default="false" />
		<xs:attribute name="ground" type="xs:boolean" default="false" />
		<xs:attribute name="remove_flyend" type="xs:boolean" />
		<xs:attribute name="noremoveatdie" type="xs:boolean" />
		<xs:attribute name="no_save_on_logout" type="xs:boolean" />
		<xs:attribute name="applymcrit" type="xs:boolean" default="true"/>
		<xs:attribute name="hostile_type" type="HostileType" default="NONE"/>
	</xs:complexType>
	<xs:complexType name="Effects">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="root" type="RootEffect" />
				<xs:element name="stun" type="StunEffect" />
				<xs:element name="sleep" type="SleepEffect" />
				<xs:element name="snare" type="SnareEffect" />
				<xs:element name="absolutesnare" type="AbsoluteSnareEffect" />
				<xs:element name="slow" type="SlowEffect" />
				<xs:element name="absoluteslow" type="AbsoluteSlowEffect" />
				<xs:element name="poison" type="PoisonEffect" />
				<xs:element name="bleed" type="BleedEffect" />
				<xs:element name="stumble" type="StumbleEffect" />
				<xs:element name="spin" type="SpinEffect" />
				<xs:element name="stagger" type="StaggerEffect" />
				<xs:element name="openaerial" type="OpenAerialEffect" />
				<xs:element name="closeaerial" type="CloseAerialEffect" />
				<xs:element name="bind" type="BindEffect" />
				<xs:element name="shield" type="ShieldEffect" />
				<xs:element name="dispel" type="DispelEffect" />
				<xs:element name="statup" type="StatupEffect" />
				<xs:element name="statboost" type="StatboostEffect" />
				<xs:element name="weaponstatboost" type="WeaponStatboostEffect" />
				<xs:element name="wpnmastery" type="WeaponMasteryEffect" />
				<xs:element name="statdown" type="StatdownEffect" />
				<xs:element name="spellatk" type="SpellAttackEffect" />
				<xs:element name="deform" type="DeformEffect" />
				<xs:element name="shapechange" type="ShapeChangeEffect" />
				<xs:element name="polymorph" type="PolymorphEffect" />
				<xs:element name="hide" type="HideEffect" />
				<xs:element name="search" type="SearchEffect" />
				<xs:element name="healinstant" type="HealInstantEffect" />
				<xs:element name="mphealinstant" type="MPHealInstantEffect" />
				<xs:element name="dphealinstant" type="DPHealInstantEffect" />
				<xs:element name="fphealinstant" type="FPHealInstantEffect" />
				<xs:element name="skillatk" type="SkillAttackInstantEffect" />
				<xs:element name="spellatkinstant" type="SpellAttackInstantEffect" />
				<xs:element name="dash" type="DashEffect" />
				<xs:element name="backdash" type="BackDashEffect" />
				<xs:element name="delaydamage" type="DelayedSpellAttackInstantEffect" />
				<xs:element name="return" type="ReturnEffect" />
				<xs:element name="prochealinstant" type="ProcHealInstantEffect" />
				<xs:element name="procmphealinstant" type="ProcMPHealInstantEffect" />
				<xs:element name="procdphealinstant" type="ProcDPHealInstantEffect" />
				<xs:element name="procfphealinstant" type="ProcFPHealInstantEffect" />
				<xs:element name="carvesignet" type="CarveSignetEffect" />
				<xs:element name="signet" type="SignetEffect" />
				<xs:element name="signetburst" type="SignetBurstEffect" />
				<xs:element name="silence" type="SilenceEffect" />
				<xs:element name="curse" type="CurseEffect" />
				<xs:element name="blind" type="BlindEffect" />
				<xs:element name="disease" type="DiseaseEffect" />
				<xs:element name="boosthate" type="BoostHateEffect" />
				<xs:element name="hostileup" type="HostileUpEffect" />
				<xs:element name="paralyze" type="ParalyzeEffect" />
				<xs:element name="confuse" type="ConfuseEffect" />
				<xs:element name="alwaysresist" type="AlwaysResistEffect" />
				<xs:element name="alwaysblock" type="AlwaysBlockEffect" />
				<xs:element name="alwaysparry" type="AlwaysParryEffect" />
				<xs:element name="alwaysdodge" type="AlwaysDodgeEffect" />
				<xs:element name="dispeldebuffphysical" type="DispelDebuffPhysicalEffect" />
				<xs:element name="dispeldebuff" type="DispelDebuffEffect" />
				<xs:element name="switchhpmp" type="SwitchHpMpEffect" />
				<xs:element name="aura" type="AuraEffect" />
				<xs:element name="summon" type="SummonEffect" />
				<xs:element name="fear" type="FearEffect" />
				<xs:element name="resurrect" type="ResurrectEffect" />
				<xs:element name="dispeldebuffmental" type="DispelDebuffMentalEffect" />
				<xs:element name="reflector" type="ReflectorEffect" />
				<xs:element name="returnpoint" type="ReturnPointEffect" />
				<xs:element name="provoker" type="ProvokerEffect" />
				<xs:element name="spellatkdraininstant" type="SpellAtkDrainInstantEffect" />
				<xs:element name="onetimeboostskillattack" type="OneTimeBoostSkillAttackEffect" />
				<xs:element name="onetimeboostskillcritical" type="OneTimeBoostSkillCriticalEffect" />
				<xs:element name="armormastery" type="ArmorMasteryEffect" />
				<xs:element name="weaponstatup" type="WeaponStatupEffect" />
				<xs:element name="boostskillcastingtime" type="BoostSkillCastingTimeEffect" />
				<xs:element name="summontrap" type="SummonTrapEffect" />
				<xs:element name="summongroupgate" type="SummonGroupGateEffect" />
				<xs:element name="summonservant" type="SummonServantEffect" />
				<xs:element name="skillatkdraininstant" type="SkillAtkDrainInstantEffect" />
				<xs:element name="petorderuseultraskill" type="PetOrderUseUltraSkillEffect" />
				<xs:element name="boostheal" type="BoostHealEffect" />
				<xs:element name="dispelbuff" type="DispelBuffEffect" />
				<xs:element name="procatk_instant" type="ProcAtkInstantEffect" />
				<xs:element name="skilllauncher" type="SkillLauncherEffect" />
				<xs:element name="pulled" type="PulledEffect" />
				<xs:element name="movebehind" type="MoveBehindEffect" />
				<xs:element name="rebirth" type="RebirthEffect" />
				<xs:element name="boostskillcost" type="BoostSkillCostEffect" />
				<xs:element name="protect" type="ProtectEffect" />
				<xs:element name="resurrectbase" type="ResurrectBaseEffect" />
				<xs:element name="magiccounteratk" type="MagicCounterAtkEffect" />
				<xs:element name="recallinstant" type="RecallInstantEffect" />
				<xs:element name="randommoveloc" type="RandomMoveLocEffect" />
				<xs:element name="summonhoming" type="SummonHomingEffect" />
				<xs:element name="dispelbuffcounteratk" type="DispelBuffCounterAtkEffect" />
				<xs:element name="xpboost" type="XPBoostEffect" />
				<xs:element name="fpatkinstant" type="FpAttackInstantEffect" />
				<xs:element name="fpatk" type="FpAttackEffect" />
				<xs:element name="onetimeboostheal" type="OneTimeBoostHealEffect" />
				<xs:element name="deboostheal" type="DeboostHealEffect" />
				<xs:element name="summonskillarea" type="SummonSkillAreaEffect" />
				<xs:element name="resurrectpos" type="ResurrectPositionalEffect" />
				<xs:element name="nofly" type="NoFlyEffect" />
				<xs:element name="nofpconsum" type="NoFPConsumEffect" />
				<xs:element name="healcastoronatk" type="HealCastorOnAttackedEffect" />
				<xs:element name="wpndual" type="WeaponDualEffect" />
				<xs:element name="invulnerablewing" type="InvulnerableWingEffect" />
				<xs:element name="shieldmastery" type="ShieldMasteryEffect" />
				<xs:element name="simpleroot" type="SimpleRootEffect" />
				<xs:element name="dptransfer" type="DPTransferEffect" />
				<xs:element name="mpattack" type="MpAttackEffect" />
				<xs:element name="boostdroprate" type="BoostDropRateEffect" />
				<xs:element name="spellatkdrain" type="SpellAtkDrainEffect" />
				<xs:element name="extendedaurarange" type="ExtendAuraRangeEffect" />
				<xs:element name="changehateonattacked" type="ChangeHateOnAttackedEffect" />
				<xs:element name="healcastorontargetdead" type="HealCastorOnTargetDeadEffect" />
				<xs:element name="noreducespellatk" type="NoReduceSpellATKInstantEffect" />
				<xs:element name="mpattackinstant" type="MpAttackInstantEffect" />
				<xs:element name="condskilllauncher" type="CondSkillLauncherEffect" />
				<xs:element name="fall" type="FallEffect" />
				<xs:element name="evade" type="EvadeEffect" />
				<xs:element name="buffbind" type="BuffBindEffect" />
				<xs:element name="buffsilence" type="BuffSilenceEffect" />
				<xs:element name="buffsleep" type="BuffSleepEffect" />
				<xs:element name="buffstun" type="BuffStunEffect" />
				<xs:element name="heal" type="HealEffect" />
				<xs:element name="mpheal" type="MPHealEffect" />
				<xs:element name="fpheal" type="FPHealEffect" />
				<xs:element name="dpheal" type="DPHealEffect" />
				<xs:element name="summontotem" type="SummonTotemEffect" />
				<xs:element name="boostspellattack" type="BoostSpellAttackEffect" />
				<xs:element name="switchhostile" type="SwitchHostileEffect" />
				<xs:element name="noresurrectpenalty" type="NoResurrectPenaltyEffect" />
				<xs:element name="hipass" type="HiPassEffect" />
				<xs:element name="nodeathpenalty" type="NoDeathPenaltyEffect" />
				<xs:element name="caseheal" type="CaseHealEffect" />
				<xs:element name="procvphealinstant" type="ProcVPHealInstantEffect" />
				<xs:element name="summonhousegate" type="SummonHouseGateEffect" />
				<xs:element name="summonbindinggroupgate" type="SummonBindingGroupGateEffect" />
				<xs:element name="convertheal" type="ConvertHealEffect" />
				<xs:element name="sanctuary" type="SanctuaryEffect" />
				<xs:element name="subtypeextendduration" type="SubTypeExtendDurationEffect" />
				<xs:element name="subtypeboostresist" type="SubTypeBoostResistEffect" />
				<xs:element name="dispelnpcbuff" type="DispelNpcBuffEffect" />
				<xs:element name="dispelnpcdebuff" type="DispelNpcDebuffEffect" />
				<xs:element name="deathblow" type="DeathBlowEffect" />
				<xs:element name="delayedskill" type="DelayedSkillEffect" />
				<xs:element name="delayedfpatk_instant" type="DelayedFpAtkInstantEffect" />
				<xs:element name="drboost" type="DRBoostEffect" />
				<xs:element name="apboost" type="APBoostEffect" />
				<xs:element name="skillxpboost" type="SkillXPBoostEffect" />
				<xs:element name="summonfunctionalnpc" type="SummonFunctionalNpcEffect" />
				<xs:element name="targetteleport" type="TargetTeleportEffect" />
				<xs:element name="flyoff" type="FlyOffEffect" />
				<xs:element name="escape" type="EscapeEffect" />
				<xs:element name="skillcooltimereset" type="SkillCooltimeResetEffect" />
				<xs:element name="riderobot" type="RideRobotEffect" />
				<xs:element name="absstatbuff" type="AbsoluteStatToPCBuff" />
				<xs:element name="absstatdebuff" type="AbsoluteStatToPCDebuff" />
				<xs:element name="mpshield" type="MPShieldEffect" />
				<xs:element name="petrification" type="PetrificationEffect" />
				<xs:element name="absexppointhealinstant" type="AbsoluteEXPPointHealInstantEffect" />
				<xs:element name="limitedreduceDamage" type="LimitedReduceDamageEffect" />
				<xs:element name="activateenslave" type="ActivateEnslaveEffect" />
				<xs:element name="petorderunsummon" type="PetOrderUnSummonEffect" />
				<xs:element name="supportevent" type="SupportEventEffect" />
				<xs:element name="targetchange" type="TargetChangeEffect" />
				<xs:element name="dummy" type="DummyEffect" />
				<xs:element name="alwayshit" type="AlwaysHitEffect" />
				<xs:element name="alwaysnoresist" type="AlwaysNoResistEffect" />
				<xs:element name="utility" type="UtilityEffect" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Properties">
		<xs:attribute name="awr" type="xs:boolean" />
		<xs:attribute name="target_maxcount" type="xs:int" />
		<xs:attribute name="target_distance" type="xs:int" />
		<xs:attribute name="target_type" type="TargetRangeAttribute" />
		<xs:attribute name="target_relation" type="TargetRelationAttribute" />
		<xs:attribute name="first_target_range" type="xs:int" />
		<xs:attribute name="first_target" type="FirstTargetAttribute" use="required" />
		<xs:attribute name="target_status" type="AbnormalStateList" />
		<xs:attribute name="revision_distance" type="xs:int" />
		<xs:attribute name="effective_range" type="xs:int" />
		<xs:attribute name="effective_dist" type="xs:int" />
		<xs:attribute name="effective_angle" type="xs:int" />
		<xs:attribute name="effective_altitude" type="xs:int" />
		<xs:attribute default="NONE" name="direction" type="Directions" />
		<xs:attribute name="target_species" type="TargetSpeciesAttribute" />
		<xs:attribute name="ineffective_range" type="xs:int" />
	</xs:complexType>
	<xs:complexType name="Actions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="itemuse" type="ItemUseAction" minOccurs="0" maxOccurs="1" />
			<xs:element name="mpuse" type="MpUseAction" minOccurs="0" maxOccurs="1" />
			<xs:element name="hpuse" type="HpUseAction" minOccurs="0" maxOccurs="1" />
			<xs:element name="dpuse" type="DpUseAction" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodicActions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hpuse" type="HpUsePeriodicAction" minOccurs="0" maxOccurs="1" />
			<xs:element name="mpuse" type="MpUsePeriodicAction" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="checktime" type="xs:int" />
	</xs:complexType>
	<xs:complexType name="Motion">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="speed" type="xs:int" default="100" />
		<xs:attribute name="instant_skill" type="xs:boolean" default="false" />
		<xs:attribute name="delay" type="xs:int" default="0"/>
	</xs:complexType>
	<xs:complexType name="ActionModifiers">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="backdamage" type="BackDamageModifier" minOccurs="0" maxOccurs="1" />
			<xs:element name="frontdamage" type="FrontDamageModifier" minOccurs="0" maxOccurs="1" />
			<xs:element name="abnormaldamage" type="AbnormalDamageModifier" minOccurs="0" maxOccurs="1" />
			<xs:element name="targetrace" type="TargetRaceDamageModifier" minOccurs="0" maxOccurs="1" />
			<xs:element name="targetclass" type="TargetClassDamageModifier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Action" abstract="true" />
	<xs:complexType name="PeriodicAction" abstract="true" />
	<xs:complexType name="Effect" abstract="true">
		<xs:sequence>
			<xs:element name="subeffect" type="SubEffect" minOccurs="0" maxOccurs="1" />
			<xs:element name="modifiers" type="ActionModifiers" minOccurs="0" maxOccurs="1" />
			<xs:element name="change" type="Change" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="conditions" type="Conditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="subconditions" type="Conditions" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="hopa" type="xs:int" />
		<xs:attribute name="hopb" type="xs:int" />
		<xs:attribute name="hoptype" type="HopType" />
		<xs:attribute name="critadddmg1" type="xs:int" />
		<xs:attribute name="critadddmg2" type="xs:int" />
		<xs:attribute name="critprobmod2" type="xs:int" />
		<xs:attribute name="preeffect_prob" type="xs:int" />
		<xs:attribute name="preeffect" type="xs:string" />
		<xs:attribute name="element" type="SkillElement" />
		<xs:attribute name="hittypeprob2" type="xs:int" default="100" />
		<xs:attribute name="hittype" type="HitType" default="EVERYHIT" />
		<xs:attribute name="mrresist" type="xs:boolean" default="true" />
		<xs:attribute name="accmod1" type="xs:int" />
		<xs:attribute name="accmod2" type="xs:int" />
		<xs:attribute name="noresist" type="xs:boolean" default="false" />
		<xs:attribute name="basiclvl" type="xs:int" />
		<xs:attribute name="e" type="xs:int" />
		<xs:attribute name="effectid" type="xs:int" />
		<xs:attribute name="randomtime" type="xs:int" />
		<xs:attribute name="duration1" type="xs:int" />
		<xs:attribute name="duration2" type="xs:int" />
		<xs:attribute name="onfly" type="xs:boolean" default="false" />
		<xs:attribute name="delta" type="xs:int" />
		<xs:attribute name="value" type="xs:int" />
		<xs:attribute name="skill_efficiency" type="xs:int" />
		<xs:attribute name="max_damage_chance" type="xs:int" />
		<xs:attribute name="max_damage_delta" type="xs:int" />
	</xs:complexType>
	<xs:complexType name="Property" abstract="true" />
	<xs:complexType name="ActionModifier" abstract="true">
		<xs:attribute name="value" type="xs:int" use="required" />
		<xs:attribute name="delta" type="xs:int" />
		<xs:attribute name="mode" type="StatFunc" />
	</xs:complexType>
	<xs:complexType name="SubEffect">
		<xs:attribute name="skill_id" type="skillId" use="required" />
		<xs:attribute name="chance" type="xs:int" />
		<xs:attribute name="addeffect" type="xs:boolean" />
	</xs:complexType>
	<!-- ACTIONS -->
	<xs:complexType name="ItemUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="itemid" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
				<xs:attribute name="ratio" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
				<xs:attribute name="ratio" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Periodic Actions -->
	<xs:complexType name="HpUsePeriodicAction">
		<xs:complexContent>
			<xs:extension base="PeriodicAction">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
				<xs:attribute name="ratio" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MpUsePeriodicAction">
		<xs:complexContent>
			<xs:extension base="PeriodicAction">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="ratio" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ACTION MODIFIERS -->
	<xs:complexType name="BackDamageModifier">
		<xs:complexContent>
			<xs:extension base="ActionModifier">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FrontDamageModifier">
		<xs:complexContent>
			<xs:extension base="ActionModifier">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbnormalDamageModifier">
		<xs:complexContent>
			<xs:extension base="ActionModifier">
				<xs:attribute name="state" type="AbnormalState" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetRaceDamageModifier">
		<xs:complexContent>
			<xs:extension base="ActionModifier">
				<xs:attribute name="race" type="Race" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetClassDamageModifier">
		<xs:complexContent>
			<xs:extension base="ActionModifier">
				<xs:attribute name="class" type="playerClass" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- EFFECTS -->
	<xs:complexType name="AbstractOverTimeEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="shared" type="xs:boolean" />
				<xs:attribute name="checktime" type="xs:int" />
				<xs:attribute name="percent" type="xs:boolean" default="false" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HideEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="bufcount" type="xs:int" />
				<xs:attribute name="type" type="xs:int" />
				<xs:attribute name="state" type="CreatureVisualState" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="state" type="CreatureSeeState" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:sequence minOccurs="0" maxOccurs="1">
					<xs:element name="effectids" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="effecttype" type="EffectType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="slottype" type="DispelSlotType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="dispeltype" type="DispelType" />
				<xs:attribute name="dpower" type="xs:int" />
				<xs:attribute name="power" type="xs:int" />
				<xs:attribute name="dispel_level" type="xs:int" />
				<xs:attribute name="count" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RootEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="resistchance" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StunEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SleepEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SnareEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteSnareEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SlowEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteSlowEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StumbleEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StaggerEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpinEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BindEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OpenAerialEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CloseAerialEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShieldEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="percent" type="xs:boolean" />
				<xs:attribute name="hitdelta" type="xs:int" />
				<xs:attribute name="hitvalue" type="xs:int" />
				<xs:attribute name="radius" type="xs:int" />
				<xs:attribute name="minradius" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProtectEffect">
		<xs:complexContent>
			<xs:extension base="ShieldEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReflectorEffect">
		<xs:complexContent>
			<xs:extension base="ShieldEffect">
				<xs:attribute name="reflectType" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProvokerEffect">
		<xs:complexContent>
			<xs:extension base="ShieldEffect">
				<xs:attribute name="provoke_target" type="ProvokeTarget" />
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpellAttackEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BleedEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SwitchHpMpEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoisonEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BufEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="maxstat" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatupEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatboostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeaponStatboostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeaponStatupEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostSkillCastingTimeEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostHealEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeaponMasteryEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
				<xs:attribute name="weapon" type="ItemGroup" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArmorMasteryEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
				<xs:attribute name="armor" type="ItemSubType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatdownEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransformEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="model" type="xs:int" use="required" />
				<xs:attribute name="type" type="TransformType" default="NONE" />
				<xs:attribute name="panelid" type="xs:int" />
				<xs:attribute name="banUseSkills" type="xs:int" />
				<xs:attribute name="banMovement" type="xs:int" />
				<xs:attribute name="res1" type="xs:int" />
				<xs:attribute name="res2" type="xs:int" />
				<xs:attribute name="res3" type="xs:int" />
				<xs:attribute name="res5" type="xs:int" />
				<xs:attribute name="res6" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolymorphEffect">
		<xs:complexContent>
			<xs:extension base="TransformEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShapeChangeEffect">
		<xs:complexContent>
			<xs:extension base="TransformEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeformEffect">
		<xs:complexContent>
			<xs:extension base="TransformEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcMPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcDPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcFPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractHealEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="percent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DamageEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="mode" type="StatFunc" />
				<xs:attribute name="shared" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillAttackInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="rnddmg" type="xs:int" />
				<xs:attribute name="cannotmiss" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpellAttackInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DashEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BackDashEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="distance" type="xs:float" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CarveSignetEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="prob" type="xs:int" />
				<xs:attribute name="signet_increment" type="xs:int" default="1" />
				<xs:attribute name="signet_cap" type="xs:int" use="required" />
				<xs:attribute name="signet_id" type="xs:int" use="required" />
				<xs:attribute name="signet" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignetEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignetBurstEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="signet" type="xs:string" use="required" />
				<xs:attribute name="signetlvl" type="xs:int" use="required" />
				<xs:attribute name="absorb" type="xs:int" />
				<xs:attribute name="add_effect_prob_multi" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedSpellAttackInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="delay" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DamageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHYSICAL" />
			<xs:enumeration value="MAGICAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReturnEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EscapeEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SilenceEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurseEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BlindEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiseaseEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostHateEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HostileUpEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="temp_duration" type="xs:int" use="optional"/>
				<xs:attribute name="temp_value" type="xs:int" use="optional"/>
				<xs:attribute name="temp_delta" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParalyzeEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConfuseEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysResistEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysBlockEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysParryEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysDodgeEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractDispelEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="dpower" type="xs:int" />
				<xs:attribute name="power" type="xs:int" />
				<xs:attribute name="dispel_level" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelDebuffPhysicalEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResurrectBaseEffect">
		<xs:complexContent>
			<xs:extension base="ResurrectEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelDebuffEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelBuffEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcAtkInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuraEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="distance_z" type="xs:int" />
				<xs:attribute name="distance" type="xs:int" />
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="npc_id" type="xs:int" />
				<xs:attribute name="time" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonTrapEffect">
		<xs:complexContent>
			<xs:extension base="SummonEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonGroupGateEffect">
		<xs:complexContent>
			<xs:extension base="SummonEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonServantEffect">
		<xs:complexContent>
			<xs:extension base="SummonEffect">
				<xs:attribute name="hp_ratio" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonHomingEffect">
		<xs:complexContent>
			<xs:extension base="SummonEffect">
				<xs:attribute name="npc_count" type="xs:int" />
				<xs:attribute name="attack_count" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonFunctionalNpcEffect">
		<xs:complexContent>
			<xs:extension base="SummonEffect">
				<xs:attribute name="owner" type="SummonOwner" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonSkillAreaEffect">
		<xs:complexContent>
			<xs:extension base="SummonServantEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonTotemEffect">
		<xs:complexContent>
			<xs:extension base="SummonServantEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecallInstantEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillLauncherEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FearEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="resistchance" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResurrectEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelDebuffMentalEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReturnPointEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpellAtkDrainInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="hp_percent" type="xs:int" />
				<xs:attribute name="mp_percent" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpellAtkDrainEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect">
				<xs:attribute name="hp_percent" type="xs:int" />
				<xs:attribute name="mp_percent" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillAtkDrainInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="hp_percent" type="xs:int" />
				<xs:attribute name="mp_percent" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PetOrderUseUltraSkillEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="ultra_skill" type="xs:int" />
				<xs:attribute name="release" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OneTimeBoostSkillAttackEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="count" type="xs:int" />
				<xs:attribute name="type" type="skillType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OneTimeBoostSkillCriticalEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
				<xs:attribute name="count" type="xs:int" />
				<xs:attribute name="percent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PulledEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MoveBehindEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RebirthEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="resurrect_percent" type="xs:int" />
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostSkillCostEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="percent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MagicCounterAtkEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="percent" type="xs:int" />
				<xs:attribute name="maxdmg" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelBuffCounterAtkEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="dpower" type="xs:int" />
				<xs:attribute name="power" type="xs:int" />
				<xs:attribute name="dispel_level" type="xs:int" />
				<xs:attribute name="hitdelta" type="xs:int" />
				<xs:attribute name="hitvalue" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FpAttackEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FpAttackInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="percent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeboostHealEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OneTimeBoostHealEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResurrectPositionalEffect">
		<xs:complexContent>
			<xs:extension base="ResurrectEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoFlyEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoFPConsumEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InvulnerableWingEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimpleRootEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DPTransferEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealCastorOnAttackedEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect">
				<xs:attribute name="type" type="HealType" use="required" />
				<xs:attribute name="range" type="xs:float" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeaponDualEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShieldMasteryEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MpAttackEffect">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChangeHateOnAttackedEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="value1" type="xs:int" use="required" />
				<xs:attribute name="value2" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealCastorOnTargetDeadEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect">
				<xs:attribute name="type" type="HealType" use="required" />
				<xs:attribute name="range" type="xs:float" use="required" />
				<xs:attribute name="healparty" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoReduceSpellATKInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="percent" type="xs:boolean" />
				<xs:attribute name="max_damage" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MpAttackInstantEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect">
				<xs:attribute name="percent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CondSkillLauncherEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="skill_id" type="xs:int" use="required" />
				<xs:attribute name="type" type="HealType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FallEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealOverTimeEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealEffect">
		<xs:complexContent>
			<xs:extension base="HealOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MPHealEffect">
		<xs:complexContent>
			<xs:extension base="HealOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DPHealEffect">
		<xs:complexContent>
			<xs:extension base="HealOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FPHealEffect">
		<xs:complexContent>
			<xs:extension base="HealOverTimeEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EvadeEffect">
		<xs:complexContent>
			<xs:extension base="DispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuffBindEffect">
		<xs:complexContent>
			<xs:extension base="BindEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuffSilenceEffect">
		<xs:complexContent>
			<xs:extension base="SilenceEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuffSleepEffect">
		<xs:complexContent>
			<xs:extension base="SleepEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuffStunEffect">
		<xs:complexContent>
			<xs:extension base="StunEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostSpellAttackEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SwitchHostileEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConvertHealEffect">
		<xs:complexContent>
			<xs:extension base="ShieldEffect">
				<xs:attribute name="type" type="HealType" />
				<xs:attribute name="hitpercent" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SanctuaryEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubTypeExtendDurationEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubTypeBoostResistEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelNpcBuffEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DispelNpcDebuffEffect">
		<xs:complexContent>
			<xs:extension base="AbstractDispelEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeathBlowEffect">
		<xs:complexContent>
			<xs:extension base="DamageEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedSkillEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="skill_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DelayedFpAtkInstantEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="percent" type="xs:boolean" />
				<xs:attribute name="delay" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DRBoostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="APBoostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillXPBoostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RandomMoveLocEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="distance" type="xs:float" />
				<xs:attribute name="direction" type="xs:float" />
				<xs:attribute name="reserved5" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XPBoostEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoostDropRateEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtendAuraRangeEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoDeathPenaltyEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoResurrectPenaltyEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HiPassEffect">
		<xs:complexContent>
			<xs:extension base="BufEffect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CaseHealEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect">
				<xs:attribute name="cond_value" type="xs:int" />
				<xs:attribute name="type" type="HealType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcVPHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="AbstractHealEffect">
				<xs:attribute name="value2" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonHouseGateEffect">
		<xs:complexContent>
			<xs:extension base="SummonGroupGateEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummonBindingGroupGateEffect">
		<xs:complexContent>
			<xs:extension base="SummonGroupGateEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetTeleportEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="alias_location" type="xs:string"/>
				<xs:attribute name="distance" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlyOffEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="distance" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkillCooltimeResetEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="first_cd" type="xs:int" use="required" />
				<xs:attribute name="last_cd" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RideRobotEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractAbsoluteStatEffect" abstract="true">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="statsetid" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteStatToPCBuff">
		<xs:complexContent>
			<xs:extension base="AbstractAbsoluteStatEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteStatToPCDebuff">
		<xs:complexContent>
			<xs:extension base="AbstractAbsoluteStatEffect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MPShieldEffect">
		<xs:complexContent>
			<xs:extension base="ShieldEffect">
				<xs:attribute name="mp_value" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PetrificationEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LimitedReduceDamageEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteEXPPointHealInstantEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActivateEnslaveEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PetOrderUnSummonEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SupportEventEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetChangeEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DummyEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysHitEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlwaysNoResistEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UtilityEffect">
		<xs:complexContent>
			<xs:extension base="Effect" />
		</xs:complexContent>
	</xs:complexType>
	<!-- MISC -->
	<xs:simpleType name="TransformType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVATAR" />
			<xs:enumeration value="FORM1" />
			<xs:enumeration value="NONE" />
			<xs:enumeration value="PC" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NPC" />
			<xs:enumeration value="PC" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="NONE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Change">
		<xs:sequence>
			<xs:element name="conditions" type="Conditions" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="stat" type="modifiersenum" use="required" />
		<xs:attribute name="func" type="StatFunc" use="required" />
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="delta" type="xs:int" />
		<xs:attribute name="unchecked" type="xs:boolean" default="false" />
	</xs:complexType>
	<xs:simpleType name="TargetSlot">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="DEBUFF" />
			<xs:enumeration value="SPEC" />
			<xs:enumeration value="SPEC2" />
			<xs:enumeration value="BOOST" />
			<xs:enumeration value="NOSHOW" />
			<xs:enumeration value="CHANT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EFFECTID" />
			<xs:enumeration value="EFFECTIDRANGE" />
			<xs:enumeration value="EFFECTTYPE" />
			<xs:enumeration value="SLOTTYPE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispelSlotType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="DEBUFF" />
			<xs:enumeration value="SPECIAL2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attackType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EVERYHIT" />
			<xs:enumeration value="PHYSICAL_SKILL" />
			<xs:enumeration value="MAGICAL_SKILL" />
			<xs:enumeration value="ALL_SKILL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="skillType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="PHYSICAL" />
			<xs:enumeration value="MAGICAL" />
			<xs:enumeration value="ALL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="skillCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="CHAIN_SKILL" />
			<xs:enumeration value="PHYSICAL_DEBUFF" />
			<xs:enumeration value="HEAL" />
			<xs:enumeration value="MENTAL_DEBUFF" />
			<xs:enumeration value="REBIRTH" />
			<xs:enumeration value="DISPELL" />
			<xs:enumeration value="DEATHBLOW" />
			<xs:enumeration value="DRAIN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="skillSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ATTACK" />
			<xs:enumeration value="CHANT" />
			<xs:enumeration value="HEAL" />
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="DEBUFF" />
			<xs:enumeration value="SUMMON" />
			<xs:enumeration value="SUMMONHOMING" />
			<xs:enumeration value="SUMMONTRAP" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="activationAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="PROVOKED" />
			<xs:enumeration value="MAINTAIN" />
			<xs:enumeration value="TOGGLE" />
			<xs:enumeration value="PASSIVE" />
			<xs:enumeration value="CHARGE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstTargetAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TARGETORME" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MYPET" />
			<xs:enumeration value="MYMASTER" />
			<xs:enumeration value="TARGET" />
			<xs:enumeration value="PASSIVE" />
			<xs:enumeration value="TARGET_MYPARTY_NONVISIBLE" />
			<xs:enumeration value="POINT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetRangeAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ONLYONE" />
			<xs:enumeration value="PARTY" />
			<xs:enumeration value="AREA" />
			<xs:enumeration value="PARTY_WITHPET" />
			<xs:enumeration value="POINT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Directions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="FRONT" />
			<xs:enumeration value="BACK" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetRelationAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ENEMY" />
			<xs:enumeration value="MYPARTY" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="FRIEND" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetSpeciesAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PC" />
			<xs:enumeration value="NPC" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="skillId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="60000" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatFunc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="PERCENT" />
			<xs:enumeration value="REPLACE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HealType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HP" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="DP" />
			<xs:enumeration value="FP" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StigmaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="BASIC" />
			<xs:enumeration value="ADVANCED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SkillElement">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIRE" />
			<xs:enumeration value="WIND" />
			<xs:enumeration value="WATER" />
			<xs:enumeration value="EARTH" />
			<xs:enumeration value="DARK" />
			<xs:enumeration value="LIGHT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DAMAGE" />
			<xs:enumeration value="SKILLLV" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EVERYHIT" />
			<xs:enumeration value="NMLATK" />
			<xs:enumeration value="MAHIT" />
			<xs:enumeration value="PHHIT" />
			<xs:enumeration value="FEAR" />
			<xs:enumeration value="SKILL" />
			<xs:enumeration value="BACKATK" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProvokeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATTACK" />
			<xs:enumeration value="ATTACKED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProvokeTarget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME" />
			<xs:enumeration value="OPPONENT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AbnormalStateList">
		<xs:list itemType="AbnormalState" />
	</xs:simpleType>
	<xs:simpleType name="AbnormalState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="POISON" />
			<xs:enumeration value="BLEED" />
			<xs:enumeration value="PARALYZE" />
			<xs:enumeration value="SLEEP" />
			<xs:enumeration value="ROOT" />
			<xs:enumeration value="BLIND" />
			<xs:enumeration value="CHARM" />
			<xs:enumeration value="DISEASE" />
			<xs:enumeration value="SILENCE" />
			<xs:enumeration value="FEAR" />
			<xs:enumeration value="CURSE" />
			<xs:enumeration value="CONFUSE" />
			<xs:enumeration value="STUN" />
			<xs:enumeration value="PETRIFICATION" />
			<xs:enumeration value="STUMBLE" />
			<xs:enumeration value="STAGGER" />
			<xs:enumeration value="OPENAERIAL" />
			<xs:enumeration value="SNARE" />
			<xs:enumeration value="SLOW" />
			<xs:enumeration value="SPIN" />
			<xs:enumeration value="BIND" />
			<xs:enumeration value="DEFORM" />
			<xs:enumeration value="PULLED" />
			<xs:enumeration value="NOFLY" />
			<xs:enumeration value="KNOCKBACK" />
			<xs:enumeration value="UNK_2" />
			<xs:enumeration value="UNK_3" />
			<xs:enumeration value="UNK_4" />
			<xs:enumeration value="UNK_5" />
			<xs:enumeration value="HIDE" />
			<xs:enumeration value="UNK_6" />
			<xs:enumeration value="SANCTUARY" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SummonOwner">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIVATE" />
			<xs:enumeration value="GROUP" />
			<xs:enumeration value="LEGION" />
			<xs:enumeration value="ALLIANCE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispelCategoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="DEBUFF_MENTAL" />
			<xs:enumeration value="DEBUFF_PHYSICAL" />
			<xs:enumeration value="EXTRA" />
			<xs:enumeration value="NEVER" />
			<xs:enumeration value="NPC_BUFF" />
			<xs:enumeration value="NPC_DEBUFF_PHYSICAL" />
			<xs:enumeration value="STUN" />
			<xs:enumeration value="DEBUFF" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreatureVisualState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIDE1" />
			<xs:enumeration value="HIDE2" />
			<xs:enumeration value="HIDE3" />
			<xs:enumeration value="HIDE5" />
			<xs:enumeration value="HIDE10" />
			<xs:enumeration value="HIDE13" />
			<xs:enumeration value="HIDE20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreatureSeeState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEARCH1" />
			<xs:enumeration value="SEARCH2" />
			<xs:enumeration value="SEARCH5" />
			<xs:enumeration value="SEARCH10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EffectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEARCH1" />
			<xs:enumeration value="ABSOLUTEEXPPOINTHEALINSTANT" />
			<xs:enumeration value="ABSOLUTESLOW" />
			<xs:enumeration value="ABSOLUTESNARE" />
			<xs:enumeration value="ABSOLUTESTATTOPCBUFF" />
			<xs:enumeration value="ABSOLUTESTATTOPCDEBUFF" />
			<xs:enumeration value="ACTIVATEENSLAVE" />
			<xs:enumeration value="ALWAYSBLOCK" />
			<xs:enumeration value="ALWAYSDODGE" />
			<xs:enumeration value="ALWAYSHIT" />
			<xs:enumeration value="ALWAYSNORESIST" />
			<xs:enumeration value="ALWAYSPARRY" />
			<xs:enumeration value="ALWAYSRESIST" />
			<xs:enumeration value="APBOOST" />
			<xs:enumeration value="ARMORMASTERY" />
			<xs:enumeration value="AURA" />
			<xs:enumeration value="BACKDASH" />
			<xs:enumeration value="BIND" />
			<xs:enumeration value="BLEED" />
			<xs:enumeration value="BLIND" />
			<xs:enumeration value="BOOSTDROPRATE" />
			<xs:enumeration value="BOOSTHATE" />
			<xs:enumeration value="BOOSTHEAL" />
			<xs:enumeration value="BOOSTSKILLCASTINGTIME" />
			<xs:enumeration value="BOOSTSKILLCOST" />
			<xs:enumeration value="BOOSTSPELLATTACK" />
			<xs:enumeration value="BUFFBIND" />
			<xs:enumeration value="BUFFSILENCE" />
			<xs:enumeration value="BUFFSLEEP" />
			<xs:enumeration value="BUFFSTUN" />
			<xs:enumeration value="CANNON" />
			<xs:enumeration value="CARVESIGNET" />
			<xs:enumeration value="CASEHEAL" />
			<xs:enumeration value="CHANGEHATEONATTACKED" />
			<xs:enumeration value="CLOSEAERIAL" />
			<xs:enumeration value="CONDSKILLLAUNCHER" />
			<xs:enumeration value="CONFUSE" />
			<xs:enumeration value="CONVERTHEAL" />
			<xs:enumeration value="CURSE" />
			<xs:enumeration value="DASH" />
			<xs:enumeration value="DEATHBLOW" />
			<xs:enumeration value="DEBOOSTHEAL" />
			<xs:enumeration value="DEFORM" />
			<xs:enumeration value="DELAYEDFPATKINSTANT" />
			<xs:enumeration value="DELAYEDSKILL" />
			<xs:enumeration value="DELAYEDSPELLATTACKINSTANT" />
			<xs:enumeration value="DISEASE" />
			<xs:enumeration value="DISPEL" />
			<xs:enumeration value="DISPELBUFF" />
			<xs:enumeration value="DISPELBUFFCOUNTERATK" />
			<xs:enumeration value="DISPELDEBUFF" />
			<xs:enumeration value="DISPELDEBUFFMENTAL" />
			<xs:enumeration value="DISPELDEBUFFPHYSICAL" />
			<xs:enumeration value="DISPELNPCBUFF" />
			<xs:enumeration value="DISPELNPCDEBUFF" />
			<xs:enumeration value="DPHEAL" />
			<xs:enumeration value="DPHEALINSTANT" />
			<xs:enumeration value="DPTRANSFER" />
			<xs:enumeration value="DRBOOST" />
			<xs:enumeration value="DUMMY" />
			<xs:enumeration value="ESCAPE" />
			<xs:enumeration value="EVADE" />
			<xs:enumeration value="EXTENDAURARANGE" />
			<xs:enumeration value="FALL" />
			<xs:enumeration value="FEAR" />
			<xs:enumeration value="FLYOFF" />
			<xs:enumeration value="FPATTACK" />
			<xs:enumeration value="FPATTACKINSTANT" />
			<xs:enumeration value="FPHEAL" />
			<xs:enumeration value="FPHEALINSTANT" />
			<xs:enumeration value="HEAL" />
			<xs:enumeration value="HEALCASTORONATTACKED" />
			<xs:enumeration value="HEALCASTORONTARGETDEAD" />
			<xs:enumeration value="HEALINSTANT" />
			<xs:enumeration value="HIDE" />
			<xs:enumeration value="HIPASS" />
			<xs:enumeration value="HOSTILEUP" />
			<xs:enumeration value="INTERVALSKILL" />
			<xs:enumeration value="INVULNERABLEWING" />
			<xs:enumeration value="LIMITEDREDUCEDAMAGE" />
			<xs:enumeration value="MAGICCOUNTERATK" />
			<xs:enumeration value="MOVEBEHIND" />
			<xs:enumeration value="MPATTACK" />
			<xs:enumeration value="MPATTACKINSTANT" />
			<xs:enumeration value="MPHEAL" />
			<xs:enumeration value="MPHEALINSTANT" />
			<xs:enumeration value="NODEATHPENALTY" />
			<xs:enumeration value="NOFLY" />
			<xs:enumeration value="NOREDUCESPELLATKINSTANT" />
			<xs:enumeration value="NORESURRECTPENALTY" />
			<xs:enumeration value="ONETIMEBOOSTHEAL" />
			<xs:enumeration value="ONETIMEBOOSTSKILLATTACK" />
			<xs:enumeration value="ONETIMEBOOSTSKILLCRITICAL" />
			<xs:enumeration value="OPENAERIAL" />
			<xs:enumeration value="PARALYZE" />
			<xs:enumeration value="PETORDERUNSUMMON" />
			<xs:enumeration value="PETORDERUSEULTRASKILL" />
			<xs:enumeration value="PETRIFICATION" />
			<xs:enumeration value="POISON" />
			<xs:enumeration value="POLYMORPH" />
			<xs:enumeration value="PROCATKINSTANT" />
			<xs:enumeration value="PROCDPHEALINSTANT" />
			<xs:enumeration value="PROCFPHEALINSTANT" />
			<xs:enumeration value="PROCHEALINSTANT" />
			<xs:enumeration value="PROCMPHEALINSTANT" />
			<xs:enumeration value="PROCVPHEALINSTANT" />
			<xs:enumeration value="PROTECT" />
			<xs:enumeration value="PROVOKER" />
			<xs:enumeration value="PULLED" />
			<xs:enumeration value="RANDOMMOVELOC" />
			<xs:enumeration value="REBIRTH" />
			<xs:enumeration value="RECALLINSTANT" />
			<xs:enumeration value="REFLECTOR" />
			<xs:enumeration value="RESURRECT" />
			<xs:enumeration value="RESURRECTBASE" />
			<xs:enumeration value="RESURRECTPOSITIONAL" />
			<xs:enumeration value="RETURN" />
			<xs:enumeration value="RETURNPOINT" />
			<xs:enumeration value="RIDEROBOT" />
			<xs:enumeration value="ROOT" />
			<xs:enumeration value="SANCTUARY" />
			<xs:enumeration value="SEARCH" />
			<xs:enumeration value="SHAPECHANGE" />
			<xs:enumeration value="SHIELD" />
			<xs:enumeration value="MPSHIELD" />
			<xs:enumeration value="SHIELDMASTERY" />
			<xs:enumeration value="SIGNET" />
			<xs:enumeration value="SIGNETBURST" />
			<xs:enumeration value="SILENCE" />
			<xs:enumeration value="SIMPLEROOT" />
			<xs:enumeration value="SKILLATKDRAININSTANT" />
			<xs:enumeration value="SKILLATTACKINSTANT" />
			<xs:enumeration value="SKILLCOOLTIMERESET" />
			<xs:enumeration value="SKILLLAUNCHER" />
			<xs:enumeration value="SKILLXPBOOST" />
			<xs:enumeration value="SLEEP" />
			<xs:enumeration value="SLOW" />
			<xs:enumeration value="SNARE" />
			<xs:enumeration value="SPELLATTACK" />
			<xs:enumeration value="SPELLATKDRAIN" />
			<xs:enumeration value="SPELLATKDRAININSTANT" />
			<xs:enumeration value="SPELLATTACKINSTANT" />
			<xs:enumeration value="SPIN" />
			<xs:enumeration value="STAGGER" />
			<xs:enumeration value="STATBOOST" />
			<xs:enumeration value="STATDOWN" />
			<xs:enumeration value="STATUP" />
			<xs:enumeration value="STUMBLE" />
			<xs:enumeration value="STUN" />
			<xs:enumeration value="SUBTYPEBOOSTRESIST" />
			<xs:enumeration value="SUBTYPEEXTENDDURATION" />
			<xs:enumeration value="SUMMON" />
			<xs:enumeration value="SUMMONBINDINGGROUPGATE" />
			<xs:enumeration value="SUMMONFUNCTIONALNPC" />
			<xs:enumeration value="SUMMONGROUPGATE" />
			<xs:enumeration value="SUMMONHOMING" />
			<xs:enumeration value="SUMMONHOUSEGATE" />
			<xs:enumeration value="SUMMONSERVANT" />
			<xs:enumeration value="SUMMONSKILLAREA" />
			<xs:enumeration value="SUMMONTOTEM" />
			<xs:enumeration value="SUMMONTRAP" />
			<xs:enumeration value="SUPPORTEVENT" />
			<xs:enumeration value="SWITCHHOSTILE" />
			<xs:enumeration value="SWITCHHPMP" />
			<xs:enumeration value="TARGETCHANGE" />
			<xs:enumeration value="TARGETTELEPORT" />
			<xs:enumeration value="UTILITY" />
			<xs:enumeration value="WEAPONSTATBOOST" />
			<xs:enumeration value="WEAPONSTATUP" />
			<xs:enumeration value="WEAPONDUAL" />
			<xs:enumeration value="WEAPONMASTERY" />
			<xs:enumeration value="XPBOOST" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HostileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="DIRECT" />
			<xs:enumeration value="INDIRECT" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>